parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Method SebastianBergmann\\Diff\\Differ::calculateEstimatedFootprint\(\) never returns float so it can be removed from the return type\.#'
            path: src/Differ.php